    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Admin Panel</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Interface
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Songs</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">User Details:</h6>
            <a class="collapse-item" href="/viewsongs">View Songs</a>
            <a class="collapse-item" href="/addsongs">Add Song</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Site Details</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Site Details :</h6>
            <a class="collapse-item" href="/viewsite">View Site</a>
            <a class="collapse-item" href="/addsite">Add Site</a>
          </div>
        </div>
      </li> -->

      <!-- Nav Item - Utilities Collapse Menu -->
      <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#accordiontimere" aria-expanded="true" aria-controls="accordiontimere">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Countdown Timer</span>
        </a>
        <div id="accordiontimere" class="collapse" aria-labelledby="accordiontimere" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Timer Details :</h6>
            <a class="collapse-item" href="/viewtimers">View Timers</a>
            <a class="collapse-item" href="/addtimer">Add Timer</a>
          </div>
        </div>
      </li> -->
      <!-- Nav Item - Utilities Collapse Menu -->
       <li class="nav-item">

        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#accordionuser" aria-expanded="true" aria-controls="accordionuser">
          <i class="fas fa-fw fa-wrench"></i>
          <span>User profile</span>
        </a>
        <div id="accordionuser" class="collapse" aria-labelledby="accordionuser" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Profile Details :</h6>
            <a class="collapse-item" href="/profile">Update profile</a>
            <a class="collapse-item" href="/changepass">Change Password</a>
          </div>
        </div>
      </li> 
      <!-- Nav Item - Utilities Collapse Menu -->
      <!-- <li class="nav-item">

        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#accordionapi" aria-expanded="true" aria-controls="accordionapi">
          <i class="fas fa-fw fa-wrench"></i>
          <span>API Document Details</span>
        </a>
        <div id="accordionapi" class="collapse" aria-labelledby="accordionapi" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Document Details :</h6>
            <a class="collapse-item" href="/apisetting">API Details</a>
            <a class="collapse-item" href="/companyscript">Company Script Details</a>
          </div>
        </div>
      </li> -->
      
    </ul>
    <!-- End of Sidebar -->